*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.card{
    background-color: white;
    border-radius:30px;
    height:70%;
    width: 50%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputs{
    display: flex;
    gap:20px;
    height:30px;
}
.submit{
    background-color: blueviolet; 
    color:white;
}
.submit:hover{
    background-color: white;
    color:blueviolet;
    transform: scale(1.2);
}
.list{
    padding:0;
    display: flex;
    flex-direction: column;
    gap:20px;
}